# Ignore conda/venv envs
.env
.venv/
env/
venv/
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Data dumps
*.csv
*.parquet
*.xlsx

# IDE settings
.vscode/
.idea/
